<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^elitenailsantaclara.com$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.elitenailsantaclara.com$
    RewriteCond %{REQUEST_URI} !public
    RewriteRule (.*) /public/$1 [L]
</IfModule>
